data/hsapiens/Homo_sapiens.GRCh38.cds.all.fa.gz filter=lfs diff=lfs merge=lfs -text
data/hsapiens/riboseq_mRNA_deandreev.csv filter=lfs diff=lfs merge=lfs -text
data/hsapiens/Homo_sapiens.GRCh38.cds.all.fa filter=lfs diff=lfs merge=lfs -text
